doctype html
html
head
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet", type="text/css", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    title= subject
    style 
        include style.css
body
        